<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.souvc.w4j.dao.PostsMapper" >
  <resultMap id="BaseResultMap" type="com.souvc.w4j.entity.Posts" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="post_author" property="postAuthor" jdbcType="BIGINT" />
    <result column="post_date" property="postDate" jdbcType="TIMESTAMP" />
    <result column="post_status" property="postStatus" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.souvc.w4j.entity.Posts" extends="BaseResultMap" >
    <result column="post_content" property="postContent" jdbcType="LONGVARCHAR" />
    <result column="post_title" property="postTitle" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, post_author, post_date, post_status
  </sql>
  <sql id="Blob_Column_List" >
    post_content, post_title
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wp_posts
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from wp_posts
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.souvc.w4j.entity.Posts" >
    insert into wp_posts (ID, post_author, post_date, 
      post_status, post_content, post_title
      )
    values (#{id,jdbcType=BIGINT}, #{postAuthor,jdbcType=BIGINT}, #{postDate,jdbcType=TIMESTAMP}, 
      #{postStatus,jdbcType=VARCHAR}, #{postContent,jdbcType=LONGVARCHAR}, #{postTitle,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.souvc.w4j.entity.Posts" >
    insert into wp_posts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="postAuthor != null" >
        post_author,
      </if>
      <if test="postDate != null" >
        post_date,
      </if>
      <if test="postStatus != null" >
        post_status,
      </if>
      <if test="postContent != null" >
        post_content,
      </if>
      <if test="postTitle != null" >
        post_title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="postAuthor != null" >
        #{postAuthor,jdbcType=BIGINT},
      </if>
      <if test="postDate != null" >
        #{postDate,jdbcType=TIMESTAMP},
      </if>
      <if test="postStatus != null" >
        #{postStatus,jdbcType=VARCHAR},
      </if>
      <if test="postContent != null" >
        #{postContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="postTitle != null" >
        #{postTitle,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.souvc.w4j.entity.Posts" >
    update wp_posts
    <set >
      <if test="postAuthor != null" >
        post_author = #{postAuthor,jdbcType=BIGINT},
      </if>
      <if test="postDate != null" >
        post_date = #{postDate,jdbcType=TIMESTAMP},
      </if>
      <if test="postStatus != null" >
        post_status = #{postStatus,jdbcType=VARCHAR},
      </if>
      <if test="postContent != null" >
        post_content = #{postContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="postTitle != null" >
        post_title = #{postTitle,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.souvc.w4j.entity.Posts" >
    update wp_posts
    set post_author = #{postAuthor,jdbcType=BIGINT},
      post_date = #{postDate,jdbcType=TIMESTAMP},
      post_status = #{postStatus,jdbcType=VARCHAR},
      post_content = #{postContent,jdbcType=LONGVARCHAR},
      post_title = #{postTitle,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.souvc.w4j.entity.Posts" >
    update wp_posts
    set post_author = #{postAuthor,jdbcType=BIGINT},
      post_date = #{postDate,jdbcType=TIMESTAMP},
      post_status = #{postStatus,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>