<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.souvc.dao.EmpDAO">

    <select id="findAll" resultType="com.souvc.entity.Emp">
        select * from T_EMP
    </select>

</mapper>
